{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

{% if online == false %}
{# {% if not online %} #}
    <p>Notre site est en maintenance !</p>
{% endif %}

{% endblock %}
