{% extends 'base.html.twig' %}

{% block title %}CGU{% endblock %}

{% block body %}

<h1>Conditions Générales d'Utilisation de CEPPIC</h1>

<h2>I. Présentation du site</h2>

<p>CEPPIC est un site web dédié à la vente de produits de beauté. Il est accessible à tous les utilisateurs souhaitant acheter des produits de beauté en ligne.</p>

<h2>II. Accès au site</h2>

<p>L'accès au site CEPPIC est gratuit. Les utilisateurs doivent avoir au moins 18 ans pour accéder au site.</p>

<h2>III. Utilisation du site</h2>

<p>Les utilisateurs doivent utiliser le site conformément à sa destination. Ils ne doivent pas nuire au site, par exemple en postant des commentaires offensants ou en partageant des informations personnelles sans consentement.</p>

<h2>IV. Respect de la propriété intellectuelle</h2>

<p>Tous les éléments du site, y compris les textes, les images, les vidéos et les icônes, sont protégés par le droit d'auteur. L'utilisation, la reproduction ou l'exploitation de ces éléments sans l'autorisation de CEPPIC est interdite.</p>

<h2>V. Collecte et utilisation de données personnelles</h2>

<p>CEPPIC collecte et traite des données personnelles pour améliorer votre expérience sur le site. Vous avez le droit d'accéder, de rectifier ou de supprimer vos données personnelles.</p>

<h2>VI. Responsabilité de CEPPIC</h2>

<p>CEPPIC se réserve le droit de fermer votre compte ou de limiter votre accès au site en cas de non-respect des CGU. En cas de litige, CEPPIC privilégie une tentative de résolution à l'amiable.</p>

<h2>VII. Droit applicable et juridiction</h2>

<p>Les CGU sont régies par le droit français. En cas de litige, les tribunaux français sont compétents pour trancher.</p>


{% endblock %}
